<nav>
  <h2>Requests</h2>
  <ul>
  <% requests.forEach((request) => { %>
    <li>
        <a href="/box-locations/<%= request.box_id %>/requests/<%= request.id %>/fulfill"><%= request.request %></a>
  <% }); %>
  </ul>
</nav>